* {
  box-sizing: content-box;
}

body {
    background-color: #EFF6E0;
    color: #17a2b8;
    font-family: "Lato", sans-serif;
}

a {
    font-weight:bolder;
    font-size: 20px;
}


h3 {
    padding-left: 10%;;
    padding-right: 10%;
}

.btn-lg {
    font-size: 1.8rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #17a2b8;
}

.fixed-bottom {
    border-top: 7px solid #839073;
}

/* .no-gutters {
  margin-right: 0;
  margin-left: 0;
} */

/* For smaller screen  */
 @media screen and (max-width: 645px) {
    * {
        box-sizing: border-box;
    }
}