* {
  box-sizing: content-box;
}

body {
    background-color: #EFF6E0;
    color: #17a2b8;
}

a {
    color: black;
    font-weight: bold;
}

p {
    word-spacing: 30 px;
    line-height: 2;
    margin: 0;
}

.btn-lg {
    font-size: 1.8rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #17a2b8;
}

.fixed-bottom {
    border-top: 7px solid #17a2b8;
}
